<section *ngIf="user | async as user" style="width:100%;">
  <h2>mon compte</h2>
  <div style="width:100%; display: flex; flex-direction:column; align-items: center; justify-content: center;">
    <div style="display: flex;margin: 24px 0;">
      <div style="position: relative;">
        <img style="    height: 80px;
        width: 80px;
        border-radius: 80px;
        object-fit: cover;
        margin-right: 12px;
        " src="{{user.profilePic}}">
        <button mat-icon-button class="example-icon favorite-icon mat-icon-button--small-border" aria-label="Example icon-button with heart icon">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div>
        <h1>{{user.displayName}}</h1>
        <!-- <p>
          <span class="chip" data="famille : 6"></span>
          <span class="chip" data="amis : 20"></span>
        </p> -->
      </div>
    </div>
    <mat-card style="margin-bottom:36px;min-width:50%;">
      <mat-list role="list" style="display: flex; flex-direction: column;">
        <h5 style="opacity: 0.7;">display name</h5>
        <mat-list-item role="listitem"><div style="display:flex;flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;"><h4>{{user.displayName}}</h4><button mat-flat-button color="accent">edit</button></div></mat-list-item>
        <h5 style="opacity: 0.7;">mail</h5>
        <mat-list-item role="listitem"><div style="display:flex;flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;"><h4>{{user.mail}}</h4><button mat-flat-button color="accent">edit</button></div></mat-list-item>
        <h5 style="opacity: 0.7;">password</h5>
        <mat-list-item role="listitem"><div style="display:flex;flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;"><h4>●●●●●●●●●●</h4><button mat-flat-button color="accent">change</button></div></mat-list-item>
      </mat-list>
    </mat-card>
    <div style="display:flex;align-items: center;justify-content: center;">
      <button (click)="logOut()" mat-flat-button color="primary" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Log out<mat-icon>logout</mat-icon>
      </button>  
    </div>
  </div>
</section>
