$black: #000000;
$white: #ffffff;
$pastel-green: #e3f6df;
$pastel-violet: #dcd1fa;
$pastel-yellow : #fcecc8;
$custom-accent: #CDDC39;
$custom-warn: #ff5722;

/* For use in src/lib/core/theming/_palette.scss */
$pastel-green-palette: (
    50 : #fcfefb,
    100 : #f7fcf5,
    200 : #f1fbef,
    300 : #ebf9e9,
    400 : #e7f7e4,
    500 : $pastel-green,
    600 : #e0f5db,
    700 : #dcf3d7,
    800 : #d8f2d2,
    900 : #d0efca,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$pastel-violet-palette: (
    50 : #fbf9fe,
    100 : #f5f1fe,
    200 : #eee8fd,
    300 : #e7dffc,
    400 : #e1d8fb,
    500 : $pastel-violet,
    600 : #d8ccf9,
    700 : #d3c6f9,
    800 : #cec0f8,
    900 : #c5b5f6,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #fffdf8,
    100 : #fef9ef,
    200 : #fef6e4,
    300 : #fdf2d9,
    400 : #fcefd0,
    500 : $pastel-yellow,
    600 : #fceac2,
    700 : #fbe7bb,
    800 : #fbe4b4,
    900 : #fadfa7,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #f5f8fe,
    100 : #e5eefe,
    200 : #d4e3fd,
    300 : #c2d8fc,
    400 : #b5cffb,
    500 : #a8c7fa,
    600 : #a0c1f9,
    700 : #97baf9,
    800 : #8db3f8,
    900 : #7da6f6,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #fbfcff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$custom-brand-warn: (
  50: #fbe9e7,
  100: #ffccbc,
  200: #ffab91,
  300: #ff8965,
  400: #ff6f43,
  500: $custom-warn,
  600: #f4501e,
  700: #e64919,
  800: #d84215,
  900: #bf350c,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);


// /* For use in src/lib/core/theming/_palette.scss */
// $custom-brand-primary: (
//     50 : #e1fdef,
//     100 : #b3fad7,
//     200 : #81f7bd,
//     300 : #4ef3a3,
//     400 : #28f18f,
//     500 : #02ee7b,
//     600 : #02ec73,
//     700 : #01e968,
//     800 : #01e75e,
//     900 : #01e24b,
//     A100 : #ffffff,
//     A200 : #d6ffe1,
//     A400 : #a3ffbc,
//     A700 : #8affa9,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #000000,
//         600 : #000000,
//         700 : #000000,
//         800 : #000000,
//         900 : #000000,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );

// /* For use in src/lib/core/theming/_palette.scss */
// $custom-brand-accent: (
//     50 : #e1fdf5,
//     100 : #b3fae6,
//     200 : #81f7d5,
//     300 : #4ef3c4,
//     400 : #28f1b8,
//     500 : #02eeab,
//     600 : #02eca4,
//     700 : #01e99a,
//     800 : #01e791,
//     900 : #01e280,
//     A100 : #ffffff,
//     A200 : #d6ffeb,
//     A400 : #a3ffd2,
//     A700 : #8affc6,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #000000,
//         600 : #000000,
//         700 : #000000,
//         800 : #000000,
//         900 : #000000,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );

